nav
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  color:white;
 
}
nav img
{
  margin-top: 20px;
  margin-left: 1px;
  width: 16em;
  height: 5em;
}
.nav-links
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 22px;
  margin-top: 25px;

}
.nav-links:hover
{
  background-color: white;
}